.footer {
  background: #2c2c33;
  padding: 25px 0;
  color: #e5e5e5;
  font-size: 15px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

/* LEFT COPYRIGHT */
.footer-left {
  color: #ddd;
  font-weight: 500;
}

/* RIGHT SOCIAL ICONS */
.footer-social {
  display: flex;
  gap: 22px;
  align-items: center;
}

.footer-social a svg {
  transition: 0.2s ease;
}

.footer-social a:hover svg {
  opacity: 0.7;
}

/* MOBILE */
@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    gap: 18px;
    text-align: center;
  }
}
