* { box-sizing: border-box; }
html,body,#root { height: 100%; margin:0; font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; color:#222; }
a { color: inherit; }
button { font-family: inherit; }
