* { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: #222;
}

a { 
  color: inherit; 
}

button { 
  font-family: inherit; 
}
